@font-face {
  font-family: "Press Start 2P";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", "Courier New", Courier, monospace;
  color: black;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: black;
}

canvas {
  border: 1px solid #ffd100;
  box-shadow: 0 0 20px #ffd100;
  border-radius: 4px;
  animation: shadowAnimation infinite 10s;
}

@keyframes shadowAnimation {
  0% {
    border: 1px solid #ffd100;
    box-shadow: 0 0 20px #ffd100;
  }
  50% {
    border: 2px solid #ffffff;
    box-shadow: 0 0 20px #ffd100, 0 0 40px #ffffff;
  }
  100% {
    border: 1px solid #ffd100;
    box-shadow: 0 0 20px #ffd100;
  }
}
